{% extends "base.html" %}

{% block content %}
<div class="container mx-auto p-6">
  <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold mb-6 text-center">Register Form</h1>

    <form action="" method="post" class="space-y-4">
      {% csrf_token %}

      <!-- Form Fields -->
      {% for field in form %}
      <div class="flex flex-col">
        <label for="{{ field.id_for_label }}" class="text-lg font-medium text-gray-700 mb-1">{{ field.label }}</label>
        {{ field|safe }}
        {% if field.errors %}
        <div class="text-red-500 text-sm mt-1">
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}

      <!-- Submit Button -->
      <button type="submit" class="w-full py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">Register</button>
    </form>

    <!-- Login Link -->
    <p class="mt-4 text-center">Sudah punya akun? <a href="{% url 'user:login' %}" class="text-blue-500 hover:underline">Login</a></p>
  </div>
</div>
{% endblock content %}
